@import "tailwindcss";

@theme {
  --color-background: #09090b;
  --color-foreground: #ffffff;
}

:root {
  --background: #09090b;
  --foreground: #ffffff;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: sans-serif;
}

html {
  scroll-behavior: smooth;
}

/* Scrollbar Style */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #09090b;
}
::-webkit-scrollbar-thumb {
  background: #27272a;
  border-radius: 10px;
}

.text-reveal-crazy {
  background: linear-gradient(to right, #3b82f6, #8b5cf6, #ef4444, #3b82f6);
  background-size: 200% auto;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  animation: gradient-move 4s linear infinite;
  display: inline-block;

  padding: 0 0.15em;
  margin-left: -0.15em;
  line-height: 1.2;
}
